* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: BankGothicBT;
    src: url(fontes/09081caba15b8def6692.woff);
}

@font-face {
    font-family: Fonte1;
    src: url(fontes/43c87a78e295c91e475d.woff);
}

@font-face {
    font-family: Fonte2;
    src: url(fontes/daffe25cf3a522a0662b.woff);
}



body {
    width: 100%;
    height: 100%;
    background-image: url(https://s.rsg.sc/auth/images/bg-repeat.png);
}

.div-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
    background-image: url(https://s.rsg.sc/auth/images/sc_logo_20180910.svg);
    width: 300px;
    height: 85px;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.div-fundo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.fundo-login{
    padding: 2%;
    min-width: 30%;
    min-height: 300px;
    background-color: white;
    border-radius: 3px;
}

#titulo{
    color: #4d4d4d;
    font-family: Fonte1;
    font-size: 24px;
}

.email{
    margin-top: 2%;
    width: 100%;
    height: 60px;
    border: solid 2px rgb(240,240,240);
    border-radius: 3px;
}

.email:focus-within {
    border: solid 2px rgb(130, 159, 255);

}

#input-email{
    border: none;
    margin-left: 5%;
    width: 95%;
    height: 100%;
    outline: 0;
    font-size: 15px;
}

.check{
    margin-top: 5%;
    margin-bottom: 3%;
}


label{
    font-family: sans-serif;
}


#esqueceu{
    font-family: sans-serif;
    color: rgb(77, 77, 77);
}

.footer-div{
    display: flex;
    align-items: center;
}

#butao{
    border-radius: 3px;
    background-color: #fcaf17;
    font-family: Fonte1;
    font-size: 15px;
    margin-left: 23%;
    outline: none;
    border: none;
    cursor: pointer;
    width: 150px;
    height: 40px;
}

#butao a{
    color: white;
    text-decoration: none;
}